
.page {
  background: $page-bg;
}

.page-dark {
  &.layout-full {
    color: $color-white;

    &:after {
      background-color: rgba($gray-base, (60/100));
    }

    .brand {

      &-text {
        color: $color-white;
      }
    }
  }
}

.page-content-table {
  .table {
    > tbody > tr {
      &:hover {
        > td {
          background-color: $gray-lightest;
        }
      }
      &:last-child {
        td {
          border-bottom: 1px solid $gray-lighter;
        }
      }
    }

    &.is-indent {
      > thead > tr > th,
      > tbody > tr > th,
      > thead > tr > td,
      > tbody > tr > td {
        &.pre-cell, &.suf-cell {
          border-top: none;
          border-bottom: none;
        }
      }

      > tbody > tr {
        &:first-child {
          td {
            border-top: none;
          }
        }
        &:last-child {
          td {
            &.pre-cell, &.suf-cell {
              border-bottom: none;
            }
          }
        }
      }

      > tfoot > tr > td {
        border-top: none;
      }
    }
  }
}


.page-copyright {
  color: $gray-darkest;
  &-inverse {
    color: $inverse;

    .social {
      .icon {
        color: $inverse;

        &:hover,
        &:active {
          color: rgba($inverse, (80/100));
        }
      }
    }
  }
}

