.page-description {
  color: $headings-small-color;
}

.page-header {
  background: $page-header-bg;
  border-bottom: none;
}

.page-header-bordered {
  background-color: $inverse;
  border-bottom: 1px solid $page-header-border-color;
}

.page-header-tabs {
  .nav-tabs-line {
    border-bottom-color: transparent;
  }
}