.page-aside {
  border-right: 1px solid $border-color-base;
  background: $page-aside-bg;
}

// Page Aside Section
// ------------------
.page-aside-section {
  &:after {
    border-bottom: 1px solid $gray-lighter;
  }
}

// Page Aside Switch
// -----------------
.page-aside-switch {
  background-color: white;
}


// Page Aside Title
// ----------------
.page-aside-title {
  color: $gray-darker;
}


// List group
// ----------
.page-aside {
  .list-group {

    &-item {
      border: none;

      &:hover, &:focus {
        background-color: $gray-lightest;
        border: none;
        color: $brand-primary;

        > .icon {
          color: $brand-primary;
        }
      }

      &.active {
        background-color: transparent;
        color: $brand-primary;

        > .icon {
          color: $brand-primary;
        }

        &:hover, &:focus {
          background-color: $gray-lightest;
          border: none;
          color: $brand-primary;

          > .icon {
            color: $brand-primary;
          }
        }
      }
    }

    &.has-actions {
      .list-group-item {
        .list-editable {
          .input-editable-close {
            background: 0 0;
            border: 0;
          }
        }
        .item-actions {
          .btn-icon {
            background-color: transparent;
            &:hover {
              .icon {
                color: $brand-primary;
              }
            }
          }
        }

        &:hover {
          .item-actions {
            .icon {
              color: $gray-dark;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-aside {
    border-color: transparent;

    .page-aside-inner {
      background-color: white;
      border-right: 1px solid $gray-lighter;
    }
  }
}