
.site-menubar {
  background: $site-menubar-bg;
  color: $site-menubar-color;

  .scrollable-inverse.scrollable .scrollable-bar-handle {
    background: rgba($gray, (60/100));;
  }

  &.site-menubar-dark {
    background: $site-menubar-dark-bg;
  }
}

.site-menubar-section {

  > h4, > h5 {
    color: $site-menubar-section-title-color;
  }
}

.site-menubar-footer {

  > a {
    color: $site-menubar-footer-color;
    background-color: $site-menubar-footer-link-bg;

    &:hover,
    &:focus {
      background-color: $site-menubar-footer-link-hover-bg;
    }
  }
}

.site-menubar-dark {
  .site-menubar-footer {
    > a {
      background-color: $site-menubar-dark-footer-link-bg;
      &:hover,
      &:focus {
        background-color: $site-menubar-dark-footer-link-hover-bg;
      }
    }
  }
}
