.gauge
{
    position: relative;

    text-align: center;
}
.gauge canvas
{
    display: inline-block;

    width: 200px; 
    max-width: 100%;
}
.gauge-label
{
    font-size: 24px; 
    font-weight: 500;

    position: absolute;
    bottom: 15%;

    width: 100%;

    color: #424242;
}

.gauge-sm canvas
{
    width: 150px;
}

.gauge-sm .gauge-label
{
    font-size: 18px;
}

.gauge-lg canvas
{
    width: 300px;
}

.gauge-lg .gauge-label
{
    font-size: 36px;
}

.donut
{
    position: relative;

    text-align: center;
}
.donut canvas
{
    display: inline-block;

    width: 200px; 
    max-width: 100%;
}
.donut-label
{
    font-size: 24px; 
    font-weight: 500;

    position: absolute;
    top: 50%;

    width: 100%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    color: #424242;
}

.donut-sm canvas
{
    width: 150px;
}

.donut-sm .donut-label
{
    font-size: 18px;
}

.donut-lg canvas
{
    width: 300px;
}

.donut-lg .donut-label
{
    font-size: 36px;
}
