/*
    DEMO STYLE
*/
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

/* body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    padding-top: 66px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
*/
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Neue Haas Grotesk Display Roman";
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.error-message {
  color: red !important;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Medium";
  src: url("fonts/NeueHaasDisplay-Mediu.eot");
  src: url("fonts/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"),
    url("fonts/NeueHaasDisplay-Mediu.woff") format("woff"),
    url("fonts/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Roman";
  src: url("fonts/NeueHaasDisplay-Roman.eot");
  src: url("fonts/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"),
    url("fonts/NeueHaasDisplay-Roman.woff") format("woff"),
    url("fonts/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
  min-height: calc(100%-68px);
}
.ui-slider-handle {
  -ms-touch-action: none;
  touch-action: none;
}
#sidebar {
  min-width: 450px;
  max-width: 450px;
  background: #f3f3f3;
  color: #424242;
  z-index: 2;
  transition: all 0.3s;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  overflow: auto;
}

#sidebar.active {
  margin-left: -450px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #a2e9ff;
}

#sidebar ul.components {
  /*padding: 20px 0;*/
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a.text-side {
  padding: 10px;
  padding-left: 20px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  font-weight: 400;
}
#sidebar ul li a.text-side:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #f3f3f3;
}

.option-li {
  padding: 10px;
  padding-left: 20px;
  font-size: 1.1em;
  display: block;
  color: #424242;
  font-weight: 400;
}
.option-li:hover {
  color: #7386d5;
  background: #fff;
  cursor: pointer;
}

.option-li.active {
  color: #fff;
  background: #f3f3f3;
}

.option-ul {
  background-color: #f3f3f3;
}

.text-side {
  color: #424242 !important;
  font-weight: 400;
}
p.text-side {
  background: #ffffff;
  text-align: center;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
  color: #424242;
}

.nav-link::before {
  display: none !important;
}

a[aria-expanded="true"]::before {
  content: "\e260";
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 20px !important;
  background: #f3f3f3;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386d5;
}
a.article,
a.article:hover {
  background: #f3f3f3 !important;
  color: #fff !important;
}

li.status-side:hover {
  background: #f3f3f3 !important;
  color: #fff !important;
}

.bg-custom {
  background-color: #2196f3;
}
.content-panel {
  background: #f3f3f3;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  transition: box-shadow 1s;
}
.content-panel:hover {
  z-index: 1000;
  box-shadow: 0px 0px 50px rgba(57, 73, 76, 0.5);
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  /* width: calc(100% - 270px);
    padding: 0px;
    transition: all 0.3s;
    background: white;
    min-height: calc(100% - 134px); */
  /*    position: absolute;
    top: 0;
    right: 0;*/
}
#content.active {
  width: 100%;
}

#btn-district,
#btn-status,
#btn-category,
#btn-city,
#btn-cost,
#btn-year,
#btn-vote,
#btn-search {
  margin: 8px;
  margin-top: 10px;
  border: solid 2px;
}
.mCustomScrollBox {
  height: auto !important;
}
.filter-mobile {
  display: none;
}
.filter-desktop {
  display: block;
}
.sidebar-menu {
  display: none;
}
.home-sidebar {
  display: none;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -100vw;
    min-width: 100vw;
    max-width: 100vw;
  }
  #sidebar.active {
    margin-left: 0;
    position: absolute !important;
    height: calc(100%);
  }
  #content {
    width: 100%;
    position: static;
    bottom: 0;
    top: 0px;
    overflow-y: hidden;
  }
  #content.active {
    /*left: 270px;*/
    /*width: calc(100% - 270px);*/
  }
  /* #sidebarCollapse span {
        display: none;
    } */
  #btn-filter {
    display: block;
  }
  #content {
    /*padding-top: 50px;*/
    margin-left: 0;
  }
  .feedback-btn {
    text-align: center;
    padding-bottom: 40px;
  }
  .fd-learn {
    border-right: solid 0px !important;
    border-bottom: solid 1px #acacac;
    text-align: center;
  }
  .fd-more {
    padding-bottom: 30px;
  }
  .fd-design {
    padding-left: 15px !important;
    padding-top: 30px;
    text-align: center;
  }
  /* #map {
    display: none;
  } */
  .filter-mobile {
    display: block;
  }
  .filter-desktop {
    display: none;
  }
  #btn-district,
  #btn-status,
  #btn-category,
  #btn-city,
  #btn-year,
  #btn-vote,
  #btn-cost {
    margin-top: 15px;
  }
  .profile-location {
    display: block;
  }
  .nav-menu {
    display: none !important;
  }
  .sidebar-menu {
    display: block;
  }
  /* .home-sidebar {
    display: block;
    height: 0;
  } */
}

.nav.nav-tabs.nav-tabs-line {
  background: #b8e6e2;
}

.input-search {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.form-control.search-form {
  border-radius: 0;
  border: 0;
  font-size: 12px;
  color: #424242;
  height: 45px;
  font-weight: 400;
  padding-left: 3em;
}
.input-search .input-search-icon {
  font-size: 16px;
  left: 0px;
  text-align: center;
  pointer-events: none;
  color: #000000;
}
.input-search .input-search-btn {
  font-size: 16px;
  color: #000000;
}
.option-side {
  margin: 7px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}
#sidebar.nav-tabs-line .nav-item.open .nav-link,
.nav-tabs-line .nav-item.open .nav-link:focus,
.nav-tabs-line .nav-item.open .nav-link:hover,
.nav-tabs-line .nav-item.show .nav-link,
.nav-tabs-line .nav-item.show .nav-link:focus,
.nav-tabs-line .nav-item.show .nav-link:hover,
.nav-tabs-line .nav-link.active,
.nav-tabs-line .nav-link.active:focus,
.nav-tabs-line .nav-link.active:hover {
  color: #3f51b5;
  border-bottom: 2px solid #3f897a;
  background-color: transparent;
}

.tab-menu {
  width: 100px;
  text-align: center;
}
.rangeUi-bar {
  background-color: #000000;
  height: 3px;
}
.rangeUi-selected {
  background-color: #009688;
  height: 3px;
}
.rangeUi-pointer {
  width: 14px;
  height: 14px;
  top: -5px;
  background-color: #009688;
  border: 0;
}
a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  font-size: 1em;
}
.range-side {
  margin: 7px;
}
.status-side {
  background-color: #f3f3f3;
}
.btn-warning,
.btn-warning.focus,
.btn-warning:focus,
.btn-warning:hover {
  border-color: #ffea00;
  background-color: #ffea00;
}
.btn .icon {
  margin: 0;
}
.panel {
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  background-color: #000000;
  height: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.6em;
  width: 14px;
  height: 14px;
  top: -5px;
  background-color: #009688;
  border: 0 !important;
  border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-range {
  background-color: #009688;
  height: 3px;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: 0.8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.ui-state-focus,
.ui-state-active,
.ui-state-hover {
  border: 0px !important;
}
.navbar-toggler {
  float: left;
}
.navbar-default .navbar-toggler {
  font-size: 15px;
}
.site-navbar .navbar-header {
  width: auto;
}
.navbar-brand.nav-item {
  font-size: 15px;
}
.st-btn .st-first .st-last {
  padding-left: 0 !important;
}
@media (max-width: 479px) {
  .nav-menubar li a {
    padding-right: 0px;
  }
  .navbar-brand {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .nav-link {
    font-size: 12px;
  }
  .footable-header {
    display: none;
  }
  #content {
    /* padding-top: 50px;*/
  }
  .goog-te-gadget-simple .goog-te-menu-value span {
    font-size: 12px !important;
  }
  .btn-download {
    text-align: center;
  }
}
@media (max-width: 991px) {
  /*  .page{
  padding-top: 50px;
  } */
  .ticker {
    display: none;
  }
}
.collapse.navbar-collapse.navbar-collapse-toolbar.show {
  border: 0;
}
@media (min-width: 768px) {
  .collapse.navbar-collapse.navbar-collapse-toolbar.show {
    /*padding: 10px;*/
    padding-left: 300px;
  }
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
  top: 0;
}
.mCSB_container {
  padding-bottom: 200px;
}
.btn_findout {
  background-color: transparent;
  border: 1.3px solid white;
  border-radius: 0.215rem;
}
/*
.ui-menu .ui-menu-item:hover:before {
    content: '' !important;
    font-family: 'Font Awesome';
    font-weight: normal;
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    vertical-align: middle;
    float: left;
    color: white !important;
}*/
.ui-menu .ui-menu-item .ui-menu-item-wrapper:before {
  content: "" !important;
  font-family: "Font Awesome";
  font-weight: normal;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  float: left;
}
.ui-menu .ui-menu-item .ui-state-active {
  background: #3f897a;
  padding-left: 7px;
}

.footer-feedback {
  background-color: #2196f3;
  min-height: 68px;
  color: white;
}
.feedback-title {
  font-size: 1.3em;
  color: white;
}
.profile-title {
  font-size: 1.3em;
  color: #424242;
}
.btn-feedback {
  background-color: #a2e9ff;
  color: #3c3c3c;
  width: 140px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}
.btn-profile {
  background-color: #b8e6e2;
  color: #3c3c3c;
  width: 290px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}
footer {
  background: #f4f7fb;
}
.footer-content {
  padding: 20px 20px;
  border-top: 1px solid #d3dee3;
}
.fd-content {
  font-family: Roboto, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}
.fd-link {
  font-size: 1.2em;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
.fd-learn {
  border-right: solid 1px #acacac;
}
.table a {
  color: #424242;
}
#map {
  /*  position: relative;*/
  width: 100% !important;
  height: 60%;
  z-index: 1;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}
.ui-front {
  z-index: 1000;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}

.ui-widget-content {
  background: #ffffff;
  color: #333333;
}
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}
.input-search.sidebar-search {
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35) !important;
}
.nav-tabs-horizontal.ui-tabs.ui-corner-all.ui-widget.ui-widget-content.sidebar-tab {
  border: none;
}
#slider-range.ui-widget-content {
  background: #000000;
}
#slider-range-year.ui-widget-content {
  background: #000000;
}
#slider-range-vote.ui-widget-content {
  background: #000000;
}

#slider-range.ui-widget.ui-widget-content {
  border: 0;
}

#slider-range-year.ui-widget.ui-widget-content {
  border: 0;
}

#slider-range-vote.ui-widget.ui-widget-content {
  border: 0;
}

#sidebar ul li.active > a.nav-link.ui-tabs-anchor {
  background-color: unset;
  color: #424242;
}
.nav-tabs-line,
.nav-link.active {
  border-bottom: 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  border: unset;
  border-bottom: 2px solid #3f897a;
}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
  display: none;
}
.fd-link {
  display: block;
}
.panel-text {
  font-size: 22px;
  font-weight: 400;
}
.panel-link {
  color: #428bca;
  font-size: 1.286rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
.panel-link:hover {
  color: #428bca;
  cursor: pointer;
}
.option-record {
  padding: 0 !important;
}
.ticker {
  width: 20%;
  background-color: transparent;
  color: #fff;
  border: 0;
}
.btn-search {
  background: #2196f3;
  border-color: #2196f3;
}
.alert-chip {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}
/* .footer-menu {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.0715rem;
    padding-left: 1.0715rem;
    width: 100%;
} */
.ui-helper-hidden-accessible {
  display: none;
}
.btn-sort {
  width: 160px;
}
.morelink {
  color: #428bca !important;
}
.morelink:hover {
  color: #428bca !important;
}

/*===============================================*/
.navbar-fixed-bottom,
.navbar-fixed-top {
  position: absolute;
  font-family: "Neue Haas Grotesk Display Roman";
}
.navbar-inverse .navbar-toolbar .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Neue Haas Grotesk Display Medium";
}
/* .navbar-inverse .navbar-toolbar .nav-link:hover,  */
.navbar-inverse .navbar-toolbar .nav-link:focus {
  color: #5051db;
  background-color: transparent;
  border-radius: 4px;
}
.navbar-inverse .navbar-toolbar .nav-link#google_translate_element {
  padding-top: 10px !important;
}
/* .navbar-inverse.inner_navstyle .navbar-toolbar .nav-link,
.inner_navstyle .dropbtn {
  color: #363636;
} */
/* .inner_navstyle .goog-te-gadget-simple .goog-te-menu-value span {
  color: #363636;
  font-weight: 700 !important;
} */
.navbar-inverse.inner_navstyle .navbar-toolbar .nav-link:focus,
/* .navbar-inverse.inner_navstyle .navbar-toolbar .nav-link:hover, */
.navbar-inverse.inner_navstyle .navbar-toolbar .nav-link.active,
/* .inner_navstyle .goog-te-gadget-simple .goog-te-menu-value span:hover */
.inner_navstyle .goog-te-gadget-simple .goog-te-menu-value span:focus {
  color: #5051db;
}
.inner_navstyle .dropdown:hover .dropbtn {
  color: #5051db;
  background-color: transparent;
  /* border-radius: 4px; */
}

.navbar-inverse
  .navbar-toolbar
  .nav-link
  .goog-te-gadget-simple
  .goog-te-menu-value
  span:nth-of-type(1) {
  font-size: 17px !important;
  line-height: 22px !important;
}
.browse_category h3 {
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 32px;
  color: #1b1b1b;
  margin-top: 0;
  font-family: "Neue Haas Grotesk Display Medium";
}
/* .browse_category h3::after { content: ''; width: 100px;    height: 5px;
  background-color: #3f51b5;
  position: absolute;
  top: 134%;
  left: 29%;
  border-radius: 13px;} */

.browse_category .card {
  margin-bottom: 20px;
}
.browse_category .card-header {
  background: #f0f0f0;
  padding: 0px;
  position: relative;
}
.browse_category .card-link {
  background: #3f51b5;
  padding: 15px;
  display: inline-block;
  padding-left: 40px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  float: left;
  width: 100%;
  padding: 15.5px 16px;
}
.browse_category .card .card-link:before {
  position: relative;
  top: 0px;
  left: 0px;
  right: auto;
  font-family: "Material Design Iconic";
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  /*content: '';*/
  color: #fff;
  right: auto;
  display: inline-block;
  text-align: center;
  width: 22px;
  height: 22px;
  border: solid 1px #fff;
  border-radius: 50%;
  background-color: sienna;
}
.browse_category .card .card-link.collapsed:before {
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  right: auto;
  /*color: #3f51b5;*/
  font-family: "Material Design Iconic";
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.browse_category .card-link.collapsed {
  background: #f0f0f0;
  color: #555555;
}
.browse_category .card-body {
  padding: 20px;
  background: #f0f0f0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.browse_category .card-body ul li a {
  color: #555555;
}
.browse_category .card .card-link + .card-link {
  margin: 0px;
  padding: 15.5px 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  width: auto;
  left: 10%;
}
.browse_category .card .card-link + .card-link:before {
  display: none;
}
.browse_category .card .card-link.collapsed + .card-link {
  background: #f0f0f0;
  color: #555555;
}
.after_serach {
  background-size: cover;
  padding: 60px 0px;
}
.inner_search {
  background: rgba(255, 255, 255, 0.65);
  padding: 35px 30px;
}
.inner_search img {
  max-width: 100%;
}
.inner_search ul li {
  color: #000;
  line-height: 30px;
  font-size: 16px;
}
.footer-menu {
  background-color: #f0f0f0;
  padding: 60px 50px;
  border-radius: 20px;
  margin-bottom: 60px;
}
.feedback-title {
  font-size: 32px;
  color: white;
  font-family: "Neue Haas Grotesk Display Medium";
}
/* .footer-content {
    background: #3f51b5;
} */
.footer-content p {
  margin: 0px;
  color: rgba(27, 27, 27, 0.4);
  font-weight: 500;
  font-size: 14px;
}
.footer-content p a {
  color: #fff;
}
.card-block {
  background: #f5f5f5;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.card-block span {
  font-size: 16px;
  font-weight: 500;
  white-space: normal;
  font-family: "Neue Haas Grotesk Display Roman";
  color: #1b1b1b;
}
.card-block span.subtitle {
  font-family: "Neue Haas Grotesk Display Medium";
}
.card-block .org_title span.subtitle,
.card-block .org_title .panel-link {
  font-family: "Neue Haas Grotesk Display Roman";
}
.card-block span.organize_font {
  font-size: 14px;
  font-weight: 400;
}
.card-block span i {
  color: #5051db;
  float: left;
}
.card-block .panel-link {
  font-size: 16px;
  color: #5051db;
  font-family: "Neue Haas Grotesk Display Medium";
}
.card-block h4 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Neue Haas Grotesk Display Roman";
  color: #9195a2;
  float: left;
  width: 100%;
  margin-top: 0px;
}
.card-block h4.card-title {
  font-weight: 500;
  font-size: 20px;
  color: #1b1b1b;
  font-family: "Neue Haas Grotesk Display Medium";
}
.card-block .card-title a {
  color: #1b1b1b;
}
.card-block .card-title a.title_org {
  color: #5051db;
}
.org_logo_img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 25px;
}
.example .pagination {
  float: right;
}
.example .pagination li {
  position: relative;
  display: block;
  padding: 0px 3px;
  margin-left: 1px;
  line-height: initial;
  color: #757575;
  background-color: transparent;
  border: none;
}
.example .pagination .page-link {
  position: relative;
  display: block;
  padding: 5.5px 13px;
  margin-left: 0;
  line-height: initial;
  color: #757575;
  margin: 0;
  background-color: transparent;
  border: 1px solid #dce0e5;
  border-radius: 2px;
}
/* .example .pagination li.active span {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.example .pagination li:hover a {
  background-color: #3f51b5;
  border-color: #3f51b5;
  color: #fff;
} */
.pagination_text p {
  font-weight: 500;
  font-size: 14px;
  color: #1b1b1b;
  margin: 0;
  line-height: 40px;
}
.pagination_text p span {
  color: #5051db;
  padding: 0 15px;
  border-left: 1px solid #686868;
  margin-left: 10px;
}
.category_badge .panel-link {
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  margin: 4px;
  vertical-align: baseline;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: "Neue Haas Grotesk Display Roman";
}
.category_badge .panel-link:hover {
  color: #fff !important;
}
.category_badge .panel-link:first-child {
  color: #fff;
  background-color: #007bff !important;
}
.category_badge .panel-link:nth-child(2) {
  color: #fff;
  background-color: #35ad8b !important;
}
.category_badge .panel-link:nth-child(3) {
  color: #fff;
  background-color: #304ffe !important;
}
.category_badge .panel-link:nth-child(4) {
  color: #fff;
  background-color: #f29b30 !important;
}
.category_badge .panel-link:nth-child(5) {
  color: #fff;
  background-color: #ff5044 !important;
}
.category_badge .panel-link:nth-child(6) {
  color: #fff;
  background-color: #8155ff !important;
}
.category_badge .panel-link:nth-child(7) {
  color: #fff;
  background-color: #30c0fe !important;
}
.category_badge .panel-link:nth-child(8) {
  color: #fff;
  background-color: #007bff !important;
}
.category_badge .panel-link:nth-child(9) {
  color: #fff;
  background-color: #35ad8b !important;
}
.category_badge .panel-link:nth-child(10) {
  color: #fff;
  background-color: #30c0fe !important;
}
.category_badge .panel-link:nth-child(11) {
  color: #fff;
  background-color: #f29b30 !important;
}
.category_badge .panel-link:nth-child(12) {
  color: #fff;
  background-color: #ff5044 !important;
}
.category_badge .panel-link:nth-child(13) {
  color: #fff;
  background-color: #8155ff !important;
}
.category_badge .panel-link:nth-child(14) {
  color: #fff;
  background-color: #304ffe !important;
}
.category_badge .panel-link:nth-child(15) {
  color: #fff;
  background-color: #007bff !important;
}
.category_badge .panel-link:nth-child(16) {
  color: #fff;
  background-color: #35ad8b !important;
}
.category_badge .panel-link:nth-child(17) {
  color: #fff;
  background-color: #30c0fe !important;
}
.category_badge .panel-link:nth-child(18) {
  color: #fff;
  background-color: #f29b30 !important;
}
.category_badge .panel-link:nth-child(19) {
  color: #fff;
  background-color: #ff5044 !important;
}
.category_badge .panel-link:nth-child(20) {
  color: #fff;
  background-color: #8155ff !important;
}
.category_badge .panel-link:nth-child(21) {
  color: #fff;
  background-color: #304ffe !important;
}
.category_badge .panel-link:nth-child(22) {
  color: #fff;
  background-color: #007bff !important;
}
.home_serach_form.filter_serach {
  padding: 40px 0px;
}
.page-register .home_serach_form .form-control,
.home_serach_form.filter_serach .form-control {
  background: #ffffff;
  border: 1px solid #a4a8b8;
  border-radius: 12px;
  padding: 19px 16px;
  height: auto;
  color: #1b1b1b;
  font-size: 20px;
  padding-left: 50px;
  height: 64px;
  font-weight: 300;
}
.home_serach_form .form_icon_img {
  position: absolute;
  top: 20px;
  left: 18px;
}
.card-columns {
  -webkit-column-count: 2;
  column-count: 3;
}
.property .card-block span {
  font-size: 14px;
}
.btn-primary,
.green_btn {
  /* color: #fff; */
  /* background-color: #5051db;
  border-color: #5051db; */
  box-shadow: none;
  padding: 0 0;
  height: 64px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
}
.btn_padding {
  padding: 22.5px 54px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.disabled_btn {
  /* background: #6262df; */
}
.green_btn {
  border-color: green !important;
  background-color: green !important;
  color: white !important;
}
.green_btn:hover,
.green_btn:focus,
.green_btn.disabled_btn {
  background-color: #299429 !important;
}

.red_btn {
  border-color: #f44336 !important;
  background-color: #f44336 !important;
  color: white !important;
}
.red_btn:hover,
.red_btn:focus,
.red_btn.disabled_btn {
  background-color: #ce2d21 !important;
}

.yellow_btn {
  border-color: #ffb50e !important;
  background-color: #ffb50e !important;
  color: white !important;
}
.yellow_btn:hover,
.yellow_btn:focus,
.yellow_btn.disabled_btn {
  background-color: #e6a208 !important;
}

@media (max-width: 1028px) {
  .browse_category .col-sm-8 {
    max-width: 100%;
    flex: 100%;
  }
}
@media (max-width: 767px) {
  .responsive_menu {
    display: none;
  }
  .navbar-toolbar .nav-item {
    color: #fff;
  }
  .inner_search {
    text-align: center;
  }
  .inner_search ul {
    margin-top: 20px;
    text-align: left;
    padding: 0px;
  }
  .footer-menu .feedback-btn.text-right,
  .footer-content .text-right {
    text-align: center !important;
  }
  .feedback-title,
  .footer-content {
    text-align: center;
  }
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media (max-width: 536px) {
  .example .pagination li {
    padding: 12px 14px;
  }
}
@media (max-width: 480px) {
  .example .pagination li {
    padding: 12px 11px;
  }
}
@media (max-width: 414px) {
  .page-content {
    width: 100%;
  }
  .example .pagination li {
    padding: 4px 9px;
  }
}
@media (max-width: 360px) {
  .page-content {
    width: 100%;
  }
  .example .pagination li {
    padding: 4px 6px;
  }
}
@media (max-width: 320px) {
  .browse_category .card .card-link + .card-link {
    width: 89%;
  }
}
.st-label {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300 !important;
}
.regular-checkbox.minus-checkbox {
  background-color: #2196f3;
  color: #ffffff;
}

.regular-checkbox.minus-checkbox:after {
  content: "\2012";
  font-size: 19px;
  position: absolute;
  top: -6px;
  left: 2px;
  color: #ffffff;
  font-weight: 900;
}

.home_slide_content {
  padding: 40% 0 15%;
  text-align: left;
}
.home_slide_content h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  margin: 0;
  font-family: "Neue Haas Grotesk Display Roman";
}
.home_slide_content h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  margin: 0;
  font-family: "Neue Haas Grotesk Display Medium";
}
/* .color_blue {
  color: #5051db;
} */
.scoll_category a {
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 20%;
  display: inline-block;
}
.category_icon {
  background: #fff;
  border-radius: 12px;
  padding: 30px 16px;
  display: table;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 24px rgba(229, 229, 229, 0.24);
  min-height: 190px;
}
.category_icon .inner_category {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.category_icon .inner_category img {
  display: block;
  margin: 0 auto;
}
.category_icon .inner_category .hover_display,
.category_icon:hover .inner_category .hover_none {
  display: none;
}
.category_icon:hover .inner_category .hover_display {
  display: block;
}
.category_icon .inner_category h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  margin-top: 25px;
}

/* .category_icon:hover {
  background: #5051db;
  color: #fff;
} */

.category_icon:hover .inner_category h3 {
  color: #fff;
}
.browse_category {
  background: #f4f7fb;
}
.home_page_content {
  padding-bottom: 100px;
  background: #f4f7fb;
}
.home_page_content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1b1b1b;
  margin-bottom: 40px;
}
.home_page_content .col-lg-5 img {
  max-width: 80%;
}
.btn_darkblack {
  /* background: #1b1b1b; */
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 22.5px 54px;
  /* color: #fff; */
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.btn_delete {
  background: #f44336;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 22.5px 54px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.btn_danger {
  background: #f44336;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 22.5px 54px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.btn_danger:hover,
.btn_danger:focus {
  background: #f6584c;
  color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}
.btn_darkblack:hover,
.btn_darkblack:focus {
  /* background: #323232; */
  /* color: #fff; */
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}

.inner_navstyle {
  position: relative;
}
.btn_darkblack.search_btn {
  padding: 15.5px 54px;
}
.top_services_filter {
  background: #f4f7fb;
  box-shadow: 0px 1px 0px #dce0e5;
  padding: 22px 0;
  position: relative;
}
.top_services_filter .dropdown button {
  background: #ffffff;
  border: 1px solid #dce0e5;
  border-radius: 8px;
  padding: 13px 24px;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-right: 15px;
  box-shadow: none;
}
.top_services_filter button.btn_share_download,
.top_services_filter a.btn_share_download {
  background: transparent;
  border: none;
  padding: 13px 10px;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-right: 0px;
  cursor: pointer;
  /* margin-left: 15px; */
}
.top_services_filter button:focus,
.top_services_filter a:focus {
  outline: none;
}
.top_services_filter button.btn_share_download .share_image {
  float: left;
}
.top_services_filter button.btn_share_download #st-1 {
  /* display: inline-block; */
  float: left;
}
.top_services_filter button.btn_share_download #st-1.st-has-labels .st-btn {
  min-width: inherit !important;
  height: auto;
  line-height: inherit;
  top: 0 !important;
}
.top_services_filter button.btn_share_download #st-1 .st-btn > img {
  display: none;
}
.top_services_filter
  button.btn_share_download
  #st-1
  .st-btn[data-network="sharethis"]
  > span {
  color: #1b1b1b;
  min-width: initial;
  padding: 0;
  font-family: "Neue Haas Grotesk Display Roman";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.inner_services {
  background: #f4f7fb;
  padding: 35px 0;
}
.inner_services .card {
  border-radius: 12px;
}
.inner_services .card-block {
  background: #ffffff;
  border: 1px solid #dce0e5;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(80, 81, 219, 0.06);
  border-radius: 12px;
  padding: 24px;
  float: left;
  width: 100%;
}
.breadcume_top {
  background: #f4f7fb;
}
.breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding: 20px 0 0 0;
  font-weight: 500;
  font-size: 14px;
}
.breadcrumb a {
  color: #5051db;
}
.breadcrumb-item.active {
  color: #2e384d;
  padding-left: 0px;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #2e384d;
  padding: 0 3px;
}
.detail_services .card-block .card-title a {
  font-weight: 500;
  font-size: 32px;
  color: #5051db;
}
.card-block h4.card_services_title {
  font-weight: 500;
  font-size: 28px;
  color: #1b1b1b;
  font-family: "Neue Haas Grotesk Display Medium";
  margin: 0;
  float: none;
}
.organization_services {
  padding: 25px 0;
  border-bottom: 1px solid #dadada;
  float: left;
  width: 100%;
}
.organization_services:last-child,
.location_border:last-child {
  padding-bottom: 0px;
  border: none;
}
.card-block .organization_services .card-title a {
  color: #5051db;
}
.location_border {
  padding: 25px 0;
  border-bottom: 1px solid #dadada;
  display: inline-block;
  width: 100%;
}
.location_border table h4 span b {
  font-family: "Neue Haas Grotesk Display Medium";
}
.location_border table td {
  border: none;
}
.commnet_letter {
  float: left;
  background: #5051db;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.comment_author {
  float: left;
  width: calc(100% - 40px);
  padding-left: 12px;
}
.comment_author h5 {
  font-weight: 500;
  font-size: 16px;
  color: #1b1b1b;
  margin: 0;
  text-transform: capitalize;
}
.comment_author .date {
  color: #a4a8b8;
  font-size: 14px;
}
.commnet_content {
  float: left;
  width: 100%;
}
.commnet_content p {
  font-weight: 500;
  font-size: 16px;
  float: left;
  width: 100%;
  color: #000;
}
.main_commnetbox {
  float: left;
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin-bottom: 15px;
  padding-top: 10px;
}
.comment_add {
  color: #5051db;
  font-size: 16px;
  font-family: "Neue Haas Grotesk Display Medium";
}
.btn-download .tokenfield {
  background: transparent;
  border: none;
  padding: 0;
}
.all_form_field .form-control,
.all_form_field textarea {
  background: #ffffff;
  border: 1px solid #a4a8b8;
  border-radius: 12px;
  padding: 10px 16px;
  height: auto;
  color: #1b1b1b;
  font-size: 15px;
  height: 64px;
  font-weight: 300;
  width: 100% !important;
}
.btn-download .tokenfield.form-control {
  background: #ffffff;
  border: 1px solid #a4a8b8;
  border-radius: 12px;
  padding: 10px 16px;
  color: #1b1b1b;
  font-size: 15px;
  min-height: 64px;
  font-weight: 300;
  width: 100% !important;
}
.btn-download .tokenfield .token {
  padding: 8px 6px;
  height: auto;
  background: #d0d0d0;
  color: #000;
  font-size: 15px;
  border-radius: 8px;
  border: none;
}
.btn-download .tokenfield .token .close {
  height: auto;
}
.all_form_field .card-title {
  font-size: 25px;
  text-align: center;
  /*border-bottom: 4px solid #5051db;*/
}
.all_form_field .form-control {
  height: 55px;
}
.all_form_field textarea {
  height: auto;
}
.all_form_field .form-control.bootstrap-select .dropdown-toggle {
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 5px 0;
}
.all_form_field .form-control.bootstrap-select .dropdown-toggle:focus {
  border: none;
  outline: none !important;
}
.all_form_field label {
  color: #1b1b1b;
  font-family: "Neue Haas Grotesk Display Medium";
  display: block;
}
.tokenfield.focus {
  box-shadow: none;
}

.all_form_field .form-control:focus,
.all_form_field textarea:focus {
  transition-duration: 0.3s;
  border: 2px solid #1b1b1b !important;
  outline: none !important;
}
.btn-download .btn_darkblack {
  float: right;
  width: 100%;
  padding: 22.5px 0px;
  font-size: 22px;
}
.add_new_btn .dropdown-menu {
  width: 100%;
  border-radius: 6px;
  padding: 0;
}
.add_new_btn .dropdown-menu a {
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #1b1b1b;
  font-weight: 600;
  background: transparent;
}
.add_new_btn .dropdown-menu a:first-child {
  border-radius: 12px 12px 0px 0px;
}
.add_new_btn .dropdown-menu a:last-child {
  border-radius: 0px 0px 12px 12px;
}

.add_new_btn .dropdown-menu a:hover {
  background: #5051db;
  color: #fff;
}
/* .top_header_blank {
  background: #5051db;
  height: 50px;
} */
.dataTables_wrapper .row {
  width: 100%;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  font-family: "Neue Haas Grotesk Display Medium";
  margin-bottom: 30px;
}
.dataTables_wrapper select.form-control,
.dataTables_wrapper .dataTables_filter .form-control {
  background: #ffffff;
  border: 1px solid #a4a8b8;
  border-radius: 8px;
  padding: 5px 15px;
  color: #1b1b1b;
  height: 45px;
  font-weight: 300;
  margin: 0 8px;
  min-width: 90px;
}
.table.dataTable thead {
  font-family: "Neue Haas Grotesk Display Roman";
  color: #000;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 12px 10px;
  /* border-bottom: 1px solid #5051db;
  background: #5051db; */
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.5;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 12px 10px;
  color: #1b1b1b;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  position: relative;
  display: block;
  padding: 7px 13px;
  margin-left: 0;
  line-height: initial;
  color: #757575;
  margin: 0;
  background-color: transparent;
  border: 1px solid #dce0e5;
  border-radius: 2px;
  margin: 0 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.active {
  color: #fff;
  background: #3f51b5;
  border: 1px solid #3f51b5;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled a,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover a,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active a,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover a,
.dataTables_wrapper .dataTables_paginate .paginate_button.active a {
  color: #fff;
}
table.dataTable.no-footer {
  border-bottom: none;
  margin-bottom: 30px;
}
.modal-content {
  border-radius: 12px;
}
.modal-header {
  padding: 15px 20px;
  padding-right: 40px;
  border-bottom: none;
  border-radius: 12px 12px 0px 0px;
  background: #5051db;
  color: #fff;
}
.modal-header .modal-title {
  color: #fff;
  font-size: 1.286rem;
}
.modal-header .close {
  font-size: 25px;
  color: #fff;
}
.modal-footer {
  text-align: center;
  justify-content: center;
}
.navbar-toolbar .nav-item .dropdown:focus,
.navbar-toolbar .nav-item .dropbtn:focus {
  outline: none;
}
.nav-item .dropdown .dropdown-content,
.dropdown-menu.jstree,
.jstree-wholerow-ul,
.top_services_filter .dropdown-menu {
  border-radius: 12px;
  background: #fff;
  padding: 0;
}
.nav-item .dropdown .dropdown-content a,
.dropdown-menu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #1b1b1b;
  font-weight: 600;
  background: transparent;
  margin: 0;
  width: 100%;
}
.nav-item .dropdown .dropdown-content a:first-child,
.top_services_filter .dropdown-menu a:first-child {
  border-radius: 12px 12px 0px 0px;
}
.nav-item .dropdown .dropdown-content a:last-child,
.top_services_filter .dropdown-menu a:last-child {
  border-radius: 0px 0px 12px 12px;
}
.nav-item .dropdown .dropdown-content a:hover,
.top_services_filter .dropdown-menu a:hover,
.dropdown-item.active,
.dropdown-item:active {
  background: #5051db !important;
  color: #fff !important;
  cursor: pointer;
}
.jstree-default .jstree-wholerow-ul .jstree-anchor {
  padding: 7px 0px;
  text-decoration: none;
  color: #1b1b1b;
  font-weight: 600;
  background: transparent;
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 0 !important;
}
.jstree-default .jstree-wholerow-hovered,
.jstree-default .jstree-wholerow-clicked {
  background: #5051db !important;
  height: 40px !important;
}
.jstree-default .jstree-wholerow-ul .jstree-anchor.jstree-hovered,
.jstree-default > .jstree-wholerow-ul .jstree-clicked {
  color: #fff !important;
}

.alert.dark.alert-warning {
  background-color: transparent !important;
  border: 2px solid #cf2d2d !important;
  border-radius: 12px;
  color: #000;
}
.alert.dark.alert-warning span,
.alert.dark.alert-warning p,
.alert.dark.alert-warning ul li {
  color: #cf2d2d !important;
  font-size: 16px !important;
  line-height: 30px;
}

.btn_download {
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn_download:focus {
  outline: 0px;
}

.gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px;
}
#iw-container {
  margin-bottom: 10px;
}
#iw-container .iw-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  background-color: #e29612;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}
#iw-container .iw-title a {
  color: white;
}
#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 15px 15px 15px;
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
}

.iw-content img {
  float: right;
  margin: 0 5px 5px 10px;
}
.iw-subTitle {
  font-size: 15px;
  font-weight: 700;
  padding: 0;
  color: #000;
}
#iw-container .iw-content a {
  font-size: 14px;
  margin-bottom: 12px;
  display: inline-block;
}
.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: none;
}

.top_services_filter .list-unstyled.components {
  margin: 0px;
}
.bootstrap-select .dropdown-menu {
  min-width: 100% !important;
}

.input-search-btn {
  right: 25px;
}
