<div class="card all_form_field">
    <div class="card-block">
        <h4 class="title_edit text-left mb-25 mt-10">
            Eligibility
            <div class="d-inline float-right" id="addServiceEligibilityTr">
                <a href="javascript:void(0)" id="addServiceEligibilityData" class="plus_delteicon bg-primary-color">
                    <img src="/frontend/assets/images/plus.png" alt="" title="">
                </a>
            </div>
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="">
                        <table class="table table_border_none" id="ServiceEligibilityTable">
                            <thead>
                                <th>Type</th>
                                <th>Term</th>
                                <th style="width:60px">&nbsp;</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {!! Form::select('service_eligibility_type[]', $service_eligibility_types, null,
                                        [ 'class' => 'form-control selectpicker service_eligibility_type', 'placeholder'
                                        => 'Select Service Eligibility Type', 'id' => 'service_eligibility_type_0', ])
                                        !!}
                                    </td>
                                    <td class="create_btn">
                                        {!! Form::select('service_eligibility_term[0][]', [], null, [ 'class' =>
                                        'form-control selectpicker service_eligibility_term', 'id' =>
                                        'service_eligibility_term_0', 'multiple' => 'true', 'data-size' => '5',
                                        'data-live-search' => 'true', ]) !!}
                                        <input type="hidden" name="service_eligibility_term_type[]"
                                            id="service_eligibility_term_type_0" value="old">
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a href="#" class="plus_delteicon btn-button">
                                            <img src="/frontend/assets/images/delete.png" alt="" title="">
                                        </a>
                                    </td>
                                </tr>
                                <tr></tr>
                                {{-- <tr id="addServiceEligibilityTr">
                                    <td colspan="6" class="text-center">
                                        <a href="javascript:void(0)" id="addServiceEligibilityData" style="color:blue;">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> </a>
                                    </td>
                                </tr> --}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on("change", 'div > .service_eligibility_type', function () {
        let value = $(this).val()
        let id = $(this).attr('id')
        let idsArray = id ? id.split('_') : []
        let index = idsArray.length > 0 ? idsArray[3] : ''
        if (value == '') {
            $('#service_eligibility_term_' + index).empty()
            $('#service_eligibility_term_' + index).val('')
            $('#service_eligibility_term_' + index).selectpicker('refresh')
            return false
        }
        $.ajax({
            url: '{{ route('getTaxonomyTerm') }}',
            method: 'get',
            data: {
                value
            },
            success: function (response) {
                let data = response.data
                $('#service_eligibility_term_' + index).empty()
                // $('#service_eligibility_term_'+index).append('<option value="">Select term</option>');
                $.each(data, function (i, v) {
                    $('#service_eligibility_term_' + index).append('<option value="' + i + '">' + v + '</option>');
                })
                $('#service_eligibility_term_' + index).append('<option value="create_new">+ Create New</option>');
                $('#service_eligibility_term_' + index).val('')
                $('#service_eligibility_term_' + index).selectpicker('refresh')
            },
            error: function (error) {
                console.log(error)
            }
        })
    })
    $(document).on("change", 'div >.service_eligibility_term', function () {
        let value = $(this).val()
        let id = $(this).attr('id')
        let text = $("#" + id + " option:selected").text();
        let idsArray = id ? id.split('_') : []
        let index = idsArray.length > 0 ? idsArray[3] : ''

        if (value.includes('create_new')) {
            $('#service_eligibility_term_index_p').val(index)
            $('#create_new_service_eligibility_term').modal('show')
        } else if (value.includes(text)) {
            $('#service_eligibility__type_' + index).val('new')
        } else {
            $('#service_eligibility__type_' + index).val('old')
        }
    })
    $('#serviceEligibilityTermSubmit').click(function () {

        let service_eligibility_term = $('#service_eligibility_term_p').val()
        let index = $('#service_eligibility_term_index_p').val()
        if ($('#service_eligibility_term_p').val() == '') {
            $('#service_eligibility_term_error').show()
            setTimeout(() => {
                $('#service_eligibility_term_error').hide()
            }, 5000);
            return false
        }
        $('#service_eligibility_term_type_' + index).val('new')
        $('#service_eligibility_term_' + index).append('<option value="' + service_eligibility_term + '">' +
            service_eligibility_term + '</option>');
        $('#service_eligibility_term_' + index).val(service_eligibility_term)
        $('#service_eligibility_term_' + index).selectpicker('refresh')
        $('#create_new_service_eligibility_term').modal('hide')
        $('#service_eligibility_term_p').val('')
        $('#service_eligibility_term_index_p').val('')
    })
    $('.serviceEligibilityTermCloseButton').click(function () {

        let detail_term = $('#service_eligibility_term_p').val()
        let index = $('#service_eligibility_term_index_p').val()
        $('#service_eligibility_term_type_' + index).val('old')
        $('#service_eligibility_term_' + index).val('');
        $('#service_eligibility_term_' + index).selectpicker('refresh')
        $('#create_new_service_eligibility_term').modal('hide')
        $('#service_eligibility_term_p').val('')
        $('#service_eligibility_term_index_p').val('')
    })
    let se = 1
    $('#addServiceEligibilityTr').click(function () {
        $('#ServiceEligibilityTable tr:last').before(
            '<tr><td><select name="service_eligibility_type[]" id="service_eligibility_type_' + se + '" class="form-control selectpicker service_eligibility_type"><option value="">Select Type</option> @foreach ($service_eligibility_types as $key => $type)<option value="{{ $key }}">{{ $type }}</option> @endforeach </select></td><td  class="create_btn"> <select name="service_eligibility_term[' + se + '][]" id="service_eligibility_term_' + se +
            '" class="form-control selectpicker service_eligibility_term" data-size="5" data-live-search="true" multiple></select><input type="hidden" name="service_eligibility_term_type[]" id="service_eligibility_term_type_' + se + '" value="old"></td><td style="vertical-align:middle;"><a href="javascript:void(0)" class="plus_delteicon btn-button removePhoneData"><img src="/frontend/assets/images/delete.png" alt="" title=""></a></td></tr>'
        );
        $('.selectpicker').selectpicker();
        se++;
    })
</script>

<!-- facility -->
<div class="card all_form_field">
    <div class="card-block">
        <h4 class="title_edit text-left mb-25 mt-10">
            Eligibility
            <div class="d-inline float-right" id="addServiceEligibilityTr">
                <a href="javascript:void(0)" id="addServiceEligibilityData" class="plus_delteicon bg-primary-color">
                    <img src="/frontend/assets/images/plus.png" alt="" title="">
                </a>
            </div>
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="">
                        <table class="table table_border_none" id="ServiceEligibilityTable">
                            <thead>
                                <th>Type</th>
                                <th>Term</th>
                                <th style="width:60px">&nbsp;</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {!!
                                        Form::select('service_eligibility_type[]',$service_eligibility_types,null,['class'
                                        => 'form-control selectpicker service_eligibility_type','placeholder' => 'select
                                        service eligibility type','id' => 'service_eligibility_type_0']) !!}

                                    </td>
                                    <td class="create_btn">
                                        {!! Form::select('service_eligibility_term[0][]',[],null,['class' =>
                                        'form-control selectpicker service_eligibility_term','id' =>
                                        'service_eligibility_term_0','multiple' => 'true','data-size' =>
                                        '5','data-live-search' => 'true']) !!}
                                        <input type="hidden" name="service_eligibility_term_type[]"
                                            id="service_eligibility_term_type_0" value="old">
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a href="#" class="plus_delteicon btn-button">
                                            <img src="/frontend/assets/images/delete.png" alt="" title="">
                                        </a>
                                    </td>
                                </tr>
                                <tr></tr>
                                {{-- <tr id="addServiceEligibilityTr">
                                    <td colspan="6" class="text-center">
                                        <a href="javascript:void(0)" id="addServiceEligibilityData" style="color:blue;">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> </a>
                                    </td>
                                </tr> --}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{-- end here --}}
        </div>
    </div>
</div>

<!-- {{-- service eligibility term modal --}} -->
<div class="modal fade " tabindex="-1" role="dialog" aria-hidden="true" id="create_new_service_eligibility_term">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close serviceEligibilityTermCloseButton"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Service Eligibility Term</h4>
                </div>
                <div class="modal-body all_form_field">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Service Eligibility Term</label>
                                <input type="text" class="form-control" placeholder="Service Eligibility Term"
                                    id="service_eligibility_term_p">
                                <input type="hidden" name="service_eligibility_term_index_p" value=""
                                    id="service_eligibility_term_index_p">
                                <span id="service_eligibility_term_error" style="display: none;color:red">Service
                                    Eligibility Term is required!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-danger btn-lg btn_delete red_btn serviceEligibilityTermCloseButton">Close</button>
                    <button type="button" id="serviceEligibilityTermSubmit"
                        class="btn btn-primary btn-lg btn_padding green_btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- {{-- End here --}} -->
<script>
    $(document).on("change", 'div > .service_eligibility_type', function () {
        let value = $(this).val()
        let id = $(this).attr('id')
        let idsArray = id ? id.split('_') : []
        let index = idsArray.length > 0 ? idsArray[3] : ''
        if (value == '') {
            $('#service_eligibility_term_' + index).empty()
            $('#service_eligibility_term_' + index).val('')
            $('#service_eligibility_term_' + index).selectpicker('refresh')
            return false
        }
        $.ajax({
            url: '{{ route("getTaxonomyTerm") }}',
            method: 'get',
            data: { value },
            success: function (response) {
                let data = response.data
                $('#service_eligibility_term_' + index).empty()
                // $('#service_eligibility_term_'+index).append('<option value="">Select term</option>');
                $.each(data, function (i, v) {
                    $('#service_eligibility_term_' + index).append('<option value="' + i + '">' + v + '</option>');
                })
                $('#service_eligibility_term_' + index).append('<option value="create_new">+ Create New</option>');
                $('#service_eligibility_term_' + index).val('')
                $('#service_eligibility_term_' + index).selectpicker('refresh')
            },
            error: function (error) {
                console.log(error)
            }
        })
    })
    $(document).on("change", 'div >.service_eligibility_term', function () {
        let value = $(this).val()
        let id = $(this).attr('id')
        let text = $("#" + id + " option:selected").text();
        let idsArray = id ? id.split('_') : []
        let index = idsArray.length > 0 ? idsArray[3] : ''

        if (value.includes('create_new')) {
            $('#service_eligibility_term_index_p').val(index)
            $('#create_new_service_eligibility_term').modal('show')
        } else if (value.includes(text)) {
            $('#service_eligibility__type_' + index).val('new')
        } else {
            $('#service_eligibility__type_' + index).val('old')
        }
    })
    $('#serviceEligibilityTermSubmit').click(function () {

        let service_eligibility_term = $('#service_eligibility_term_p').val()
        let index = $('#service_eligibility_term_index_p').val()
        if ($('#service_eligibility_term_p').val() == '') {
            $('#service_eligibility_term_error').show()
            setTimeout(() => {
                $('#service_eligibility_term_error').hide()
            }, 5000);
            return false
        }
        $('#service_eligibility_term_type_' + index).val('new')
        $('#service_eligibility_term_' + index).append('<option value="' + service_eligibility_term + '">' + service_eligibility_term + '</option>');
        $('#service_eligibility_term_' + index).val(service_eligibility_term)
        $('#service_eligibility_term_' + index).selectpicker('refresh')
        $('#create_new_service_eligibility_term').modal('hide')
        $('#service_eligibility_term_p').val('')
        $('#service_eligibility_term_index_p').val('')
    })
    $('.serviceEligibilityTermCloseButton').click(function () {

        let detail_term = $('#service_eligibility_term_p').val()
        let index = $('#service_eligibility_term_index_p').val()
        $('#service_eligibility_term_type_' + index).val('old')
        $('#service_eligibility_term_' + index).val('');
        $('#service_eligibility_term_' + index).selectpicker('refresh')
        $('#create_new_service_eligibility_term').modal('hide')
        $('#service_eligibility_term_p').val('')
        $('#service_eligibility_term_index_p').val('')
    })
    let se = 1
    $('#addServiceEligibilityTr').click(function () {
        $('#ServiceEligibilityTable tr:last').before('<tr><td><select name="service_eligibility_type[]" id="service_eligibility_type_' + se + '" class="form-control selectpicker service_eligibility_type"><option value="">Select Type</option> @foreach ($service_eligibility_types as $key => $type)<option value="{{ $key }}">{{ $type }}</option> @endforeach </select></td><td  class="create_btn"> <select name="service_eligibility_term[' + se + '][]" id="service_eligibility_term_' + se + '" class="form-control selectpicker service_eligibility_term" data-size="5" data-live-search="true" multiple></select><input type="hidden" name="service_eligibility_term_type[]" id="service_eligibility_term_type_' + se + '" value="old"></td><td style="vertical-align:middle;"><a href="javascript:void(0)" class="plus_delteicon btn-button removePhoneData"><img src="/frontend/assets/images/delete.png" alt="" title=""></a></td></tr>');
        $('.selectpicker').selectpicker();
        se++;
    })
</script>

<!-- create from org -->
<div class="card all_form_field">
    <div class="card-block">
        <h4 class="title_edit text-left mb-25 mt-10">
            Eligibility
            <div class="d-inline float-right" id="addServiceEligibilityTr">
                <a href="javascript:void(0)" id="addServiceEligibilityData" class="plus_delteicon bg-primary-color">
                    <img src="/frontend/assets/images/plus.png" alt="" title="">
                </a>
            </div>
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="">
                        <table class="table table_border_none" id="ServiceEligibilityTable">
                            <thead>
                                <th>Type</th>
                                <th>Term</th>
                                <th style="width:60px">&nbsp;</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {!! Form::select('service_eligibility_type[]', $service_eligibility_types, null,
                                        ['class' => 'form-control selectpicker service_eligibility_type','placeholder'
                                        => 'select service eligibility type','id' => 'service_eligibility_type_0',]) !!}

                                    </td>
                                    <td class="create_btn">
                                        {!! Form::select('service_eligibility_term[0][]', [], null, ['class' =>
                                        'form-control selectpicker service_eligibility_term','id' =>
                                        'service_eligibility_term_0','multiple' => 'true','data-size' =>
                                        '5','data-live-search' => 'true',]) !!}
                                        <input type="hidden" name="service_eligibility_term_type[]"
                                            id="service_eligibility_term_type_0" value="old">
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a href="#" class="plus_delteicon btn-button">
                                            <img src="/frontend/assets/images/delete.png" alt="" title="">
                                        </a>
                                    </td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{-- end here --}}
        </div>
    </div>
</div>
<!-- {{-- service eligibility term modal --}} -->
<div class="modal fade " tabindex="-1" role="dialog" aria-hidden="true" id="create_new_service_eligibility_term">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close serviceEligibilityTermCloseButton"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Service Eligibility Term</h4>
                </div>
                <div class="modal-body all_form_field">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Service Eligibility Term</label>
                                <input type="text" class="form-control" placeholder="Service Eligibility Term"
                                    id="service_eligibility_term_p">
                                <input type="hidden" name="service_eligibility_term_index_p" value=""
                                    id="service_eligibility_term_index_p">
                                <span id="service_eligibility_term_error" style="display: none;color:red">Service
                                    Eligibility Term is
                                    required!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-danger btn-lg btn_delete red_btn serviceEligibilityTermCloseButton">Close</button>
                    <button type="button" id="serviceEligibilityTermSubmit"
                        class="btn btn-primary btn-lg btn_padding green_btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- {{-- End here --}} -->
<script>
    $(document).on("change", 'div > .service_eligibility_type', function () {
        let value = $(this).val()
        let id = $(this).attr('id')
        let idsArray = id ? id.split('_') : []
        let index = idsArray.length > 0 ? idsArray[3] : ''
        if (value == '') {
            $('#service_eligibility_term_' + index).empty()
            $('#service_eligibility_term_' + index).val('')
            $('#service_eligibility_term_' + index).selectpicker('refresh')
            return false
        }
        $.ajax({
            url: '{{ route('getTaxonomyTerm') }}',
            method: 'get',
            data: {
                value
            },
            success: function (response) {
                let data = response.data
                $('#service_eligibility_term_' + index).empty()
                // $('#service_eligibility_term_'+index).append('<option value="">Select term</option>');
                $.each(data, function (i, v) {
                    $('#service_eligibility_term_' + index).append('<option value="' + i + '">' + v + '</option>');
                })
                $('#service_eligibility_term_' + index).append('<option value="create_new">+ Create New</option>');
                $('#service_eligibility_term_' + index).val('')
                $('#service_eligibility_term_' + index).selectpicker('refresh')
            },
            error: function (error) {
                console.log(error)
            }
        })
    })
    $(document).on("change", 'div >.service_eligibility_term', function () {
        let value = $(this).val()
        let id = $(this).attr('id')
        let text = $("#" + id + " option:selected").text();
        let idsArray = id ? id.split('_') : []
        let index = idsArray.length > 0 ? idsArray[3] : ''

        if (value.includes('create_new')) {
            $('#service_eligibility_term_index_p').val(index)
            $('#create_new_service_eligibility_term').modal('show')
        } else if (value.includes(text)) {
            $('#service_eligibility__type_' + index).val('new')
        } else {
            $('#service_eligibility__type_' + index).val('old')
        }
    })
    $('#serviceEligibilityTermSubmit').click(function () {

        let service_eligibility_term = $('#service_eligibility_term_p').val()
        let index = $('#service_eligibility_term_index_p').val()
        if ($('#service_eligibility_term_p').val() == '') {
            $('#service_eligibility_term_error').show()
            setTimeout(() => {
                $('#service_eligibility_term_error').hide()
            }, 5000);
            return false
        }
        $('#service_eligibility_term_type_' + index).val('new')
        $('#service_eligibility_term_' + index).append('<option value="' + service_eligibility_term + '">' +
            service_eligibility_term + '</option>');
        $('#service_eligibility_term_' + index).val(service_eligibility_term)
        $('#service_eligibility_term_' + index).selectpicker('refresh')
        $('#create_new_service_eligibility_term').modal('hide')
        $('#service_eligibility_term_p').val('')
        $('#service_eligibility_term_index_p').val('')
    })
    $('.serviceEligibilityTermCloseButton').click(function () {

        let detail_term = $('#service_eligibility_term_p').val()
        let index = $('#service_eligibility_term_index_p').val()
        $('#service_eligibility_term_type_' + index).val('old')
        $('#service_eligibility_term_' + index).val('');
        $('#service_eligibility_term_' + index).selectpicker('refresh')
        $('#create_new_service_eligibility_term').modal('hide')
        $('#service_eligibility_term_p').val('')
        $('#service_eligibility_term_index_p').val('')
    })
    let se = 1
    $('#addServiceEligibilityTr').click(function () {
        $('#ServiceEligibilityTable tr:last').before('<tr><td><select name="service_eligibility_type[]" id="service_eligibility_type_' + se + '" class="form-control selectpicker service_eligibility_type"><option value="">Select Type</option> @foreach ($service_eligibility_types as $key => $type)<option value="{{ $key }}">{{ $type }}</option> @endforeach </select></td><td  class="create_btn"> <select name="service_eligibility_term[' + se + '][]" id="service_eligibility_term_' + se + '" class="form-control selectpicker service_eligibility_term" data-size="5" data-live-search="true" multiple></select><input type="hidden" name="service_eligibility_term_type[]" id="service_eligibility_term_type_' + se + '" value="old"></td><td style="vertical-align:middle;"><a href="javascript:void(0)" class="plus_delteicon btn-button removePhoneData"><img src="/frontend/assets/images/delete.png" alt="" title=""></a></td></tr>'
        );
        $('.selectpicker').selectpicker();
        se++;
    })
</script>