.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead
.tt-hint
{
    border-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead
  .tt-hint:focus
{
    border-color: #e6e6e6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px white;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px white;
}

.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead
.tt-hint
{
    border-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead
  .tt-hint:focus
{
    border-color: #e6e6e6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px white;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px white;
}

.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead
.tt-hint
{
    border-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead
  .tt-hint:focus
{
    border-color: #e6e6e6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px white;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px white;
}

.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child
.tt-hint
{
    width: 100%; 

    border-top-left-radius: .215rem;
    border-bottom-left-radius: .215rem;
}

.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child
.tt-hint
{
    width: 100%; 

    border-top-right-radius: .215rem;
    border-bottom-right-radius: .215rem;
}

select .input-group.input-group-sm .twitter-typeahead .tt-input,
select .input-group.input-group-sm .twitter-typeahead
.tt-hint
{
    padding-top: 0;
    padding-bottom: 0;
}

.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child)
.tt-hint
{
    border-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child
.tt-hint
{
    border-top-left-radius: .143rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: .143rem;
}

.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child
.tt-hint
{
    border-top-left-radius: 0;
    border-top-right-radius: .143rem;
    border-bottom-right-radius: .143rem; 
    border-bottom-left-radius: 0;
}

select .input-group.input-group-lg .twitter-typeahead .tt-input,
select .input-group.input-group-lg .twitter-typeahead
.tt-hint
{
    padding-top: 0;
    padding-bottom: 0;
}

.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child)
.tt-hint
{
    border-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child
.tt-hint
{
    border-top-left-radius: .286rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: .286rem;
}

.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child
.tt-hint
{
    border-top-left-radius: 0;
    border-top-right-radius: .286rem;
    border-bottom-right-radius: .286rem; 
    border-bottom-left-radius: 0;
}

.twitter-typeahead
{
    float: left; 

    width: 100%;
}
.input-group .twitter-typeahead
{
    display: table-cell !important;
}

.twitter-typeahead .tt-hint
{
    color: #616161;
}

.twitter-typeahead .tt-input
{
    z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input
{
    cursor: not-allowed;

    background-color: #eee !important;
}

.tt-dropdown-menu,
.tt-menu
{
    font-size: 1rem;

    position: absolute;
    z-index: 1200;
    top: 100%;
    left: 0;

    width: 100%;
    min-width: 160px;
    margin: 2px 0 0;
    padding: 5px 0;

    list-style: none;

    border: 1px solid #ccc;
    border: 1px solid #e0e0e0;
    border-radius: .215rem;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box; 
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .05);
            box-shadow: 0 3px 12px rgba(0, 0, 0, .05);
}
.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion
{
    font-weight: 300;
    line-height: 1.571429;

    display: block;
    clear: both;

    padding: 3px 20px;

    color: #757575;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion:hover
{
    cursor: pointer;
    text-decoration: none;

    color: #757575; 
    outline: 0;
    background-color: #eee;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion:hover a
{
    color: #757575;
}
.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p
{
    margin: 0;
}
