$use-font-family:      "Karla";
$use-font-family-url:  "https://fonts.googleapis.com/css?family=Karla:400,700,400italic";
$font-family-base:     $font-family-sans-serif;

$font-weight-override: false;
$font-weight-base:     $font-weight-normal;
$headings-font-weight: $font-weight-normal;
