.fv-has-feedback
{
    position: relative;
}

.fv-control-feedback
{
    line-height: 34px;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    display: block;

    width: 34px;
    height: 34px;

    text-align: center;
}

/*right: 15px;*/
.fv-help-block
{
    display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Bootstrap form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.fv-form-bootstrap .text-help
{
    margin-bottom: 0;
}

.fv-form-bootstrap .tooltip-inner
{
    text-align: left;
}

/* Bootstrap stacked form without label */
.fv-form-bootstrap .fv-icon-no-label
{
    top: 0;
}

.fv-form-bootstrap .fv-bootstrap-icon-input-group
{
    z-index: 11;
}

/* Bootstrap inline form */
.form-inline.fv-form-bootstrap .form-group
{
    vertical-align: top;
}

.fv-form-bootstrap .has-feedback
{
    position: relative;
}
.fv-form-bootstrap .has-feedback .form-control
{
    padding-right: 3.21625rem;
}

.fv-form-bootstrap .form-control-feedback
{
    line-height: 2.573rem;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    display: block;

    width: 2.573rem;
    height: 2.573rem;

    text-align: center;
    pointer-events: none;
}
