.rangeUi
{
    position: relative;

    cursor: pointer;
}
.rangeUi-bar
{
    height: 4px;

    background-color: #eee;
}
.rangeUi-pointer
{
    position: absolute;
    z-index: 2;
    top: -3px;
    left: 60%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    width: 10px;
    height: 10px;

    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
         -o-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);

    border: 1px solid #e0e0e0;
    border-radius: 50%;
    background-color: #fff;
}
.rangeUi-pointer:focus
{
    outline: 0;
    outline: none;
}
.rangeUi-tip
{
    font-size: 11px;
    line-height: 1.5em;

    position: absolute;
    top: -30px;
    left: 50%;

    display: block;

    margin: 0 auto;
    padding: 2px 4px 1px;

    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-align: center;

    color: #fff;
    border: 1px solid #616161;
    border-radius: 2px; 
    background-color: #616161;
}
.rangeUi-tip:before
{
    position: absolute;
    bottom: -3px;
    left: 50%;

    display: inline-block;

    width: 6px;
    height: 6px;
    margin-left: -3px;

    content: '';
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg); 

    background-color: #616161;
}
.rangeUi-selected
{
    position: absolute;
    top: 0;

    overflow: hidden; 

    width: 60%;
    height: 4px;

    background-color: #3f51b5;
}
.rangeUi-scale
{
    height: 30px;
}
.rangeUi-scale-lines,
.rangeUi-scale-values
{
    position: relative;

    margin: 0;
    padding: 0;

    list-style: none;

    vertical-align: middle;
}
.rangeUi-scale-lines li,
.rangeUi-scale-values li
{
    position: absolute;
    top: 0;

    float: left;
}
.rangeUi-scale-lines
{
    top: 6px;
}
.rangeUi-scale-lines li
{
    position: absolute;
    top: 0;

    width: 1px;
    height: 4px;

    background-color: #e0e0e0;
}
.rangeUi-scale-inlineGrid
{
    height: 10px !important;
}
.rangeUi-scale-values
{
    top: 13px;

    margin-left: 1px;
}
.rangeUi-scale-values span
{
    font-size: 14px;

    margin-left: -50%; 

    color: #757575;
}
