.sortable > *,
.sortable-with-handle .sortable-handle
{
    cursor: move;
}

.sortable-placeholder
{
    display: block;

    height: 42px;
    margin-top: 1px;

    border: 1px dashed #e0e0e0; 
    background-color: #eee;
}

.sortable.list-group-gap .sortable-placeholder,
.sortable-with-handle.list-group-gap .sortable-placeholder
{
    margin-bottom: 2px;
}

.sortable.list-task .sortable-placeholder
{
    height: 65px;
}
