@charset 'UTF-8';
.ms-container:before
{
    font-family: 'Material Design Iconic';
    font-size: inherit;
    font-weight: normal;
    font-style: normal;

    position: relative;
    top: 68px;
    left: 3.5%;

    display: inline-block;

    content: 'ï†µ';
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0); 

    text-rendering: auto;
}

.ms-container:after
{
    font-size: 0;
    line-height: 0;

    display: block;
    visibility: hidden; 
    clear: both;

    height: 0;
    min-height: 0;

    content: '.';
}

.ms-container .ms-selectable,
.ms-container .ms-selection
{
    float: left;

    width: 45%; 

    color: #757575;
    background: #fff;
}

.ms-container .ms-selection
{
    float: right;
}

.ms-container .ms-list
{
    position: relative;

    overflow-y: auto; 

    height: 160px;
    padding: 3px;

    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
         -o-transition: border linear .2s, box-shadow linear .2s;
            transition: border linear .2s, box-shadow linear .2s;

    border: 1px solid #e0e0e0;
    border-radius: .215rem;
}

.ms-container .ms-list.ms-focus
{
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
}

.ms-container ul
{
    margin: 0;
    padding: 0; 

    list-style-type: none;
}

.ms-container .ms-optgroup-container
{
    width: 100%;
}

.ms-container .ms-optgroup-label
{
    font-weight: 400; 

    margin: 0;
    padding: 5px 0 0 7px;

    cursor: pointer;

    color: #757575;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection
{
    padding: 3px 10px 3px 20px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover
{
    cursor: pointer;
    text-decoration: none;

    color: #fff;
    background-color: #5c6bc0;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled
{
    cursor: text; 

    color: #757575;
    background-color: #bdbdbd;
}

@media (min-width: 1200px)
{
    .ms-container
    {
        width: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199px)
{
    .ms-container
    {
        width: 350px;
    }
}

@media (min-width: 767px) and (max-width: 991px)
{
    .ms-container
    {
        width: 100%;
    }
}

@media (max-width: 479px)
{
    .ms-container
    {
        width: 100%;
    }
    .ms-container:before
    {
        top: 190px;
        left: 50%;

        margin-left: -8px;
    }
    .ms-container .ms-selectable,
    .ms-container .ms-selection
    {
        display: block; 

        width: 100%;
    }
    .ms-container .ms-selectable
    {
        margin-bottom: 40px;
    }
}
