.select2-container
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;

    vertical-align: middle;
}

.select2-container .select2-selection--single
{
    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 28px;

    cursor: pointer;
    -webkit-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered
{
    display: block;
    overflow: hidden;

    padding-right: 20px;
    padding-left: 8px;

    white-space: nowrap; 
    text-overflow: ellipsis;
}

.select2-container[dir='rtl'] .select2-selection--single .select2-selection__rendered
{
    padding-right: 8px;
    padding-left: 20px;
}

.select2-container .select2-selection--multiple
{
    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 32px;

    cursor: pointer;
    -webkit-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered
{
    display: inline-block;
    overflow: hidden;

    padding-left: 8px;

    white-space: nowrap; 
    text-overflow: ellipsis;
}

.select2-container .select2-search--inline
{
    float: left;
}
.select2-container .select2-search--inline .select2-search__field
{
    font-size: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 5px;
    padding: 0; 

    border: none;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button
{
    -webkit-appearance: none;
}

.select2-primary .select2-container .select2-selection--multiple .select2-selection__choice,
.select2-results__otption .select2-results__otption--highlighted
{
    color: #fff;
    border-color: #3f51b5; 
    background: #3f51b5;
}
.select2-primary .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove,
.select2-results__otption .select2-results__otption--highlighted .select2-selection__choice__remove
{
    color: #fff;
}

.select2-success .select2-container .select2-selection--multiple .select2-selection__choice
{
    color: #fff;
    border-color: #4caf50; 
    background: #4caf50;
}
.select2-success .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove
{
    color: #fff;
}

.select2-info .select2-container .select2-selection--multiple .select2-selection__choice
{
    color: #fff;
    border-color: #00bcd4; 
    background: #00bcd4;
}
.select2-info .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove
{
    color: #fff;
}

.select2-warning .select2-container .select2-selection--multiple .select2-selection__choice
{
    color: #fff;
    border-color: #ff9800; 
    background: #ff9800;
}
.select2-warning .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove
{
    color: #fff;
}

.select2-danger .select2-container .select2-selection--multiple .select2-selection__choice
{
    color: #fff;
    border-color: #f44336; 
    background: #f44336;
}
.select2-danger .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove
{
    color: #fff;
}

.select2-dropdown
{
    position: absolute;
    z-index: 1200; 
    left: -100000px;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;

    border: 1px solid #e0e0e0;
    border-radius: .215rem;
    background-color: white;
}

.select2-results
{
    display: block;
}

.select2-results__options
{
    margin: 0;
    padding: 0; 

    list-style: none;
}

.select2-results__option
{
    padding: 6px;

    -webkit-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.select2-results__option[aria-selected]
{
    cursor: pointer;
}

.select2-container--open .select2-dropdown
{
    left: 0;
}

.select2-container--open .select2-dropdown--above
{
    border-bottom: none;
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0;
}

.select2-container--open .select2-dropdown--below
{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-search--dropdown
{
    display: block;

    padding: 4px;
}
.select2-search--dropdown .select2-search__field
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    width: 100%;
    padding: 4px;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button
{
    -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide
{
    display: none;
}

.select2-close-mask
{
    position: fixed;
    z-index: 1800;
    top: 0;
    left: 0;

    display: block;

    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;

    opacity: 0;
    border: 0;
    background-color: #fff;

    filter: alpha(opacity=0);
}

.select2-hidden-accessible
{
    position: absolute !important;

    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;

    width: 1px !important; 
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;

    border: 0 !important;
}

.select2-container--default
{
    display: block;
}
.select2-container--default .select2-selection
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    color: #757575;
    border: 1px solid #e0e0e0;
    border-radius: .215rem;
    outline: 0; 
    background-color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 

    color: #757575;
    border: 1px solid #e0e0e0;
    border-radius: .215rem;
    background-color: #fff;
}
.select2-container--default .select2-search__field
{
    outline: 0;
}
.select2-container--default .select2-search__field::-webkit-input-placeholder
{
    color: #9e9e9e;
}
.select2-container--default .select2-search__field:-moz-placeholder
{
    color: #9e9e9e;
}
.select2-container--default .select2-search__field::-moz-placeholder
{
    opacity: 1; 
    color: #9e9e9e;
}
.select2-container--default .select2-search__field:-ms-input-placeholder
{
    color: #9e9e9e;
}
.select2-container--default .select2-results__option[role=group]
{
    padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true]
{
    cursor: not-allowed; 

    color: #bdbdbd;
}
.select2-container--default .select2-results__option[aria-selected=true]
{
    color: #757575; 
    background-color: #eee;
}
.select2-container--default .select2-results__option .select2-results__option
{
    padding: .429rem 1.072rem;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group
{
    padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -1.072rem;
    padding-left: 2.144rem;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -2.144rem;
    padding-left: 3.216rem;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -3.216rem;
    padding-left: 4.288rem;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -4.288rem;
    padding-left: 5.36rem;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -5.36rem;
    padding-left: 6.432rem;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]
{
    color: #757575; 
    background-color: #eee;
}
.select2-container--default .select2-results__group
{
    font-size: .858rem;
    line-height: 1.571429;

    display: block;

    padding: .429rem 1.072rem;

    cursor: default;
    white-space: nowrap; 

    color: #424242;
}
.select2-container--default.select2-container--open .select2-selection
{
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    border-color: #3f51b5; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px fade(#3f51b5, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px fade(#3f51b5, .6);
}
.select2-container--default.select2-container--open .select2-selection .select2-selection__arrow b
{
    border-width: 0 .286rem .286rem .286rem; 
    border-color: transparent transparent #9e9e9e transparent;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection
{
    border-top-color: transparent; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection
{
    border-bottom-color: transparent; 
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.select2-container--default.input-sm,
.select2-container--default.input-lg
{
    font-size: 12px;
    line-height: 1;

    height: auto;
    padding: 0; 

    border-radius: 0;
}
.select2-container--default .select2-dropdown
{
    overflow-x: hidden;

    margin-top: -1px; 

    border-color: #3f51b5;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.select2-container--default .select2-dropdown--above
{
    margin-top: 1px;
}
.select2-container--default .select2-results > .select2-results__options
{
    overflow-y: auto; 

    max-height: 200px;
}
.select2-container--default .select2-selection--single
{
    line-height: 1.571429;

    height: 2.573rem;
    padding: .429rem 1.93rem .429rem 1.072rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered
{
    padding: 0; 

    color: #757575;
}
.select2-container--default .select2-selection--single .select2-selection__clear
{
    font-weight: 500;

    float: right;

    margin-right: 10px; 

    cursor: pointer;

    color: #9e9e9e;
}
.select2-container--default .select2-selection--single .select2-selection__clear:hover
{
    color: #333;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder
{
    color: #9e9e9e;
}
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    position: absolute;
    top: 0;
    right: 1.072rem;
    bottom: 0;

    width: .286rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 0; 
    height: 0;
    margin-top: -.143rem;
    margin-left: -.286rem;

    border-width: .286rem .286rem 0 .286rem;
    border-style: solid;
    border-color: #9e9e9e transparent transparent transparent;
}
.select2-container--default[dir='rtl'] .select2-selection--single
{
    padding-right: 1.072rem; 
    padding-left: 1.93rem;
}
.select2-container--default[dir='rtl'] .select2-selection--single .select2-selection__clear
{
    float: left;
}
.select2-container--default[dir='rtl'] .select2-selection--single .select2-selection__arrow
{
    right: auto; 
    left: 1.072rem;
}
.select2-container--default[dir='rtl'] .select2-selection--single .select2-selection__rendered
{
    padding-right: 0;
    padding-left: 0;

    text-align: right;
}
.select2-container--default.select2-container--disabled .select2-selection--single
{
    cursor: not-allowed; 

    background-color: #eee;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear
{
    display: none;
}
.select2-container--default.input-sm .select2-selection--single,
.input-group-sm .select2-container--default .select2-selection--single,
.form-group-sm .select2-container--default .select2-selection--single
{
    font-size: .858rem;
    line-height: 1.5;

    height: 2.288rem;
    padding: .429rem 1.787rem .429rem .929rem; 

    border-radius: .143rem;
}
.select2-container--default.input-sm .select2-selection--single .select2-selection__arrow b,
.input-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow b,
.form-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow b
{
    margin-left: -.429rem;
}
.select2-container--default.input-lg .select2-selection--single,
.input-group-lg .select2-container--default .select2-selection--single,
.form-group-lg .select2-container--default .select2-selection--single
{
    font-size: 1.286rem;
    line-height: 1.333333;

    height: 3.287667rem;
    padding: .715rem 2.36rem .715rem 1.286rem; 

    border-radius: .286rem;
}
.select2-container--default.input-lg .select2-selection--single .select2-selection__arrow,
.input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow,
.form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow
{
    width: .358rem;
}
.select2-container--default.input-lg .select2-selection--single .select2-selection__arrow b,
.input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow b,
.form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow b
{
    margin-top: -.179rem; 
    margin-left: -.358rem;
    margin-left: -.715rem;

    border-width: .358rem .358rem 0 .358rem;
}
.select2-container--default .select2-selection--multiple
{
    min-height: 2.573rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered
{
    line-height: 1.571429;

    display: block;
    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    white-space: nowrap; 
    text-overflow: ellipsis;
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder
{
    float: left;

    margin-top: 5px; 

    color: #9e9e9e;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    float: left;

    margin: .3rem 0 0 .536rem;
    padding: 0 .429rem; 

    cursor: default;

    color: #757575;
    border: 1px solid #eee;
    border-radius: .215rem;
    background: #eee;
}
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field
{
    line-height: 1.571429;

    min-width: 5em; 
    height: 2.43rem;
    margin-top: 0;
    padding: 0 1.072rem;

    background: transparent;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    font-weight: 500;

    display: inline-block;

    margin-right: .2145rem; 

    cursor: pointer;

    color: #999;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover
{
    color: #333;
}
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__placeholder
{
    float: right;
}
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice
{
    margin-right: .536rem; 
    margin-left: 0;
}
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice__remove
{
    margin-right: auto; 
    margin-left: 2px;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple
{
    cursor: not-allowed; 

    background-color: #eee;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove
{
    display: none;
}
.select2-container--default.input-sm .select2-selection--multiple,
.input-group-sm .select2-container--default .select2-selection--multiple,
.form-group-sm .select2-container--default .select2-selection--multiple
{
    min-height: 2.288rem;
}
.select2-container--default.input-sm .select2-selection--multiple .select2-selection__choice,
.input-group-sm .select2-container--default .select2-selection--multiple .select2-selection__choice,
.form-group-sm .select2-container--default .select2-selection--multiple .select2-selection__choice
{
    font-size: .858rem;
    line-height: 1.5;

    margin: .357rem 0 0 .4645rem;
    padding: 0 .429rem;
}
.select2-container--default.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-sm .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-sm .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field
{
    font-size: .858rem;
    line-height: 1.5; 

    height: 2.145rem;
    padding: 0 .929rem;
}
.select2-container--default.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b
{
    border-width: 0 .358rem .358rem .358rem; 
    border-color: transparent transparent #9e9e9e transparent;
}
.input-group-lg .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
{
    border-width: 0 .358rem .358rem .358rem; 
    border-color: transparent transparent #9e9e9e transparent;
}
.input-group .select2-container--default
{
    position: relative;
    z-index: 2;

    display: table;
    float: left;

    width: 100%;
    margin-bottom: 0; 

    table-layout: fixed;
}

.has-warning .select2-dropdown,
.has-warning .select2-selection
{
    border-color: #ff9800;
}

.has-warning .select2-container--open .select2-selection
{
    border-color: #ff9800;
}

.has-warning.select2-drop-active
{
    border-color: #ff9800;
}
.has-warning.select2-drop-active.select2-drop.select2-drop-above
{
    border-top-color: #ff9800;
}

.has-error .select2-dropdown,
.has-error .select2-selection
{
    border-color: #f44336;
}

.has-error .select2-container--open .select2-selection
{
    border-color: #f44336;
}

.has-error.select2-drop-active
{
    border-color: #f44336;
}
.has-error.select2-drop-active.select2-drop.select2-drop-above
{
    border-top-color: #f44336;
}

.has-success .select2-dropdown,
.has-success .select2-selection
{
    border-color: #4caf50;
}

.has-success .select2-container--open .select2-selection
{
    border-color: #4caf50;
}

.has-success.select2-drop-active
{
    border-color: #4caf50;
}
.has-success.select2-drop-active.select2-drop.select2-drop-above
{
    border-top-color: #4caf50;
}

.select2-container--material
{
    display: block;
}
.select2-container--material .select2-selection
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    -webkit-transition: background 0s ease-out;
         -o-transition: background 0s ease-out;
            transition: background 0s ease-out; 

    color: #757575;
    border: 1px solid #e0e0e0;
    border: 0;
    border-radius: .215rem;
    border-radius: 0;
    outline: 0;
    background-color: #fff;
    background-color: transparent;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3f51b5), to(#3f51b5)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(#3f51b5, #3f51b5), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:      -o-linear-gradient(#3f51b5, #3f51b5), -o-linear-gradient(#e0e0e0, #e0e0e0);
    background-image:         linear-gradient(#3f51b5, #3f51b5), linear-gradient(#e0e0e0, #e0e0e0);
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    -webkit-background-size: 0 2px, 100% 1px;
            background-size: 0 2px, 100% 1px;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.select2-container--material .select2-search--dropdown .select2-search__field
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 

    color: #757575;
    border: 1px solid #e0e0e0;
    border-radius: .215rem;
    background-color: #fff;
}
.select2-container--material .select2-search__field
{
    outline: 0;
}
.select2-container--material .select2-search__field::-webkit-input-placeholder
{
    color: #9e9e9e;
}
.select2-container--material .select2-search__field:-moz-placeholder
{
    color: #9e9e9e;
}
.select2-container--material .select2-search__field::-moz-placeholder
{
    opacity: 1; 
    color: #9e9e9e;
}
.select2-container--material .select2-search__field:-ms-input-placeholder
{
    color: #9e9e9e;
}
.select2-container--material .select2-results__option[role=group]
{
    padding: 0;
}
.select2-container--material .select2-results__option[aria-disabled=true]
{
    cursor: not-allowed; 

    color: #bdbdbd;
}
.select2-container--material .select2-results__option[aria-selected=true]
{
    color: #757575; 
    background-color: #eee;
}
.select2-container--material .select2-results__option .select2-results__option
{
    padding: .429rem 1.072rem;
}
.select2-container--material .select2-results__option .select2-results__option .select2-results__group
{
    padding-left: 0;
}
.select2-container--material .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -1.072rem;
    padding-left: 2.144rem;
}
.select2-container--material .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -2.144rem;
    padding-left: 3.216rem;
}
.select2-container--material .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -3.216rem;
    padding-left: 4.288rem;
}
.select2-container--material .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -4.288rem;
    padding-left: 5.36rem;
}
.select2-container--material .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option
{
    margin-left: -5.36rem;
    padding-left: 6.432rem;
}
.select2-container--material .select2-results__option--highlighted[aria-selected]
{
    color: #757575; 
    background-color: #eee;
}
.select2-container--material .select2-results__group
{
    font-size: .858rem;
    line-height: 1.571429;

    display: block;

    padding: .429rem 1.072rem;

    cursor: default;
    white-space: nowrap; 

    color: #424242;
}
.select2-container--material.select2-container--open .select2-selection .select2-selection__arrow b
{
    border-width: 0 .286rem .286rem .286rem; 
    border-color: transparent transparent #9e9e9e transparent;
}
.select2-container--material.select2-container--open.select2-container--above .select2-selection
{
    border-top-color: transparent; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--material.select2-container--open.select2-container--below .select2-selection
{
    border-bottom-color: transparent; 
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.select2-container--material.select2-container--open .select2-selection,
.select2-container--material.select2-container--focus .select2-selection
{
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s; 

    outline: none;
    -webkit-background-size: 100% 2px, 100% 1px;
            background-size: 100% 2px, 100% 1px;
}
.select2-container--material.select2-container--disabled .select2-selection
{
    border-bottom: 1px dashed #bdbdbd; 
    background: transparent;
    background: transparent;
}
.select2-container--material.input-sm,
.select2-container--material.input-lg
{
    font-size: 12px;
    line-height: 1;

    height: auto;
    padding: 0; 

    border-radius: 0;
}
.select2-container--material .select2-dropdown
{
    overflow-x: hidden;

    margin-top: -1px; 

    border-color: #3f51b5;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.select2-container--material .select2-dropdown--above
{
    margin-top: 1px;
}
.select2-container--material .select2-results > .select2-results__options
{
    overflow-y: auto; 

    max-height: 200px;
}
.select2-container--material .select2-selection--single
{
    line-height: 1.571429;

    height: 2.573rem;
    padding: .429rem 1.93rem .429rem 1.072rem;
}
.select2-container--material .select2-selection--single .select2-selection__rendered
{
    padding: 0; 

    color: #757575;
}
.select2-container--material .select2-selection--single .select2-selection__clear
{
    font-weight: 500;

    float: right;

    margin-right: 10px; 

    cursor: pointer;

    color: #9e9e9e;
}
.select2-container--material .select2-selection--single .select2-selection__clear:hover
{
    color: #333;
}
.select2-container--material .select2-selection--single .select2-selection__placeholder
{
    color: #9e9e9e;
}
.select2-container--material .select2-selection--single .select2-selection__arrow
{
    position: absolute;
    top: 0;
    right: 1.072rem;
    bottom: 0;

    width: .286rem;
}
.select2-container--material .select2-selection--single .select2-selection__arrow b
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 0; 
    height: 0;
    margin-top: -.143rem;
    margin-left: -.286rem;

    border-width: .286rem .286rem 0 .286rem;
    border-style: solid;
    border-color: #9e9e9e transparent transparent transparent;
}
.select2-container--material[dir='rtl'] .select2-selection--single
{
    padding-right: 1.072rem; 
    padding-left: 1.93rem;
}
.select2-container--material[dir='rtl'] .select2-selection--single .select2-selection__clear
{
    float: left;
}
.select2-container--material[dir='rtl'] .select2-selection--single .select2-selection__arrow
{
    right: auto; 
    left: 1.072rem;
}
.select2-container--material[dir='rtl'] .select2-selection--single .select2-selection__rendered
{
    padding-right: 0;
    padding-left: 0;

    text-align: right;
}
.select2-container--material.select2-container--disabled .select2-selection--single
{
    cursor: not-allowed;
}
.select2-container--material.select2-container--disabled .select2-selection--single .select2-selection__clear
{
    display: none;
}
.select2-container--material.select2-container--disabled .select2-selection--single .select2-selection__rendered
{
    color: #bdbdbd;
}
.select2-container--material.input-sm .select2-selection--single,
.input-group-sm .select2-container--material .select2-selection--single,
.form-group-sm .select2-container--material .select2-selection--single
{
    font-size: .858rem;
    line-height: 1.5;

    height: 2.288rem;
    padding: .429rem 1.787rem .429rem .929rem; 

    border-radius: .143rem;
}
.select2-container--material.input-sm .select2-selection--single .select2-selection__arrow b,
.input-group-sm .select2-container--material .select2-selection--single .select2-selection__arrow b,
.form-group-sm .select2-container--material .select2-selection--single .select2-selection__arrow b
{
    margin-left: -.429rem;
}
.select2-container--material.input-lg .select2-selection--single,
.input-group-lg .select2-container--material .select2-selection--single,
.form-group-lg .select2-container--material .select2-selection--single
{
    font-size: 1.286rem;
    line-height: 1.333333;

    height: 3.287667rem;
    padding: .715rem 2.36rem .715rem 1.286rem; 

    border-radius: .286rem;
}
.select2-container--material.input-lg .select2-selection--single .select2-selection__arrow,
.input-group-lg .select2-container--material .select2-selection--single .select2-selection__arrow,
.form-group-lg .select2-container--material .select2-selection--single .select2-selection__arrow
{
    width: .358rem;
}
.select2-container--material.input-lg .select2-selection--single .select2-selection__arrow b,
.input-group-lg .select2-container--material .select2-selection--single .select2-selection__arrow b,
.form-group-lg .select2-container--material .select2-selection--single .select2-selection__arrow b
{
    margin-top: -.179rem; 
    margin-left: -.358rem;
    margin-left: -.715rem;

    border-width: .358rem .358rem 0 .358rem;
}
.select2-container--material .select2-selection--multiple
{
    min-height: 2.573rem;
}
.select2-container--material .select2-selection--multiple .select2-selection__rendered
{
    line-height: 1.571429;

    display: block;
    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    white-space: nowrap; 
    text-overflow: ellipsis;
}
.select2-container--material .select2-selection--multiple .select2-selection__placeholder
{
    float: left;

    margin-top: 5px; 

    color: #9e9e9e;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice
{
    float: left;

    margin: .3rem 0 0 .536rem;
    padding: 0 .429rem; 

    cursor: default;

    color: #757575;
    border: 1px solid #eee;
    border-radius: .215rem;
    background: #eee;
}
.select2-container--material .select2-selection--multiple .select2-search--inline .select2-search__field
{
    line-height: 1.571429;

    min-width: 5em; 
    height: 2.43rem;
    margin-top: 0;
    padding: 0 1.072rem;

    background: transparent;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove
{
    font-weight: 500;

    display: inline-block;

    margin-right: .2145rem; 

    cursor: pointer;

    color: #999;
}
.select2-container--material .select2-selection--multiple .select2-selection__choice__remove:hover
{
    color: #333;
}
.select2-container--material[dir='rtl'] .select2-selection--multiple .select2-selection__choice,
.select2-container--material[dir='rtl'] .select2-selection--multiple .select2-selection__placeholder
{
    float: right;
}
.select2-container--material[dir='rtl'] .select2-selection--multiple .select2-selection__choice
{
    margin-right: .536rem; 
    margin-left: 0;
}
.select2-container--material[dir='rtl'] .select2-selection--multiple .select2-selection__choice__remove
{
    margin-right: auto; 
    margin-left: 2px;
}
.select2-container--material.select2-container--disabled .select2-selection--multiple
{
    cursor: not-allowed;
}
.select2-container--material.select2-container--disabled .select2-selection--multiple .select2-selection__rendered
{
    color: #bdbdbd;
}
.select2-container--material.select2-container--disabled .select2-selection__choice__remove
{
    display: none;
}
.select2-container--material.input-sm .select2-selection--multiple,
.input-group-sm .select2-container--material .select2-selection--multiple,
.form-group-sm .select2-container--material .select2-selection--multiple
{
    min-height: 2.288rem;
}
.select2-container--material.input-sm .select2-selection--multiple .select2-selection__choice,
.input-group-sm .select2-container--material .select2-selection--multiple .select2-selection__choice,
.form-group-sm .select2-container--material .select2-selection--multiple .select2-selection__choice
{
    font-size: .858rem;
    line-height: 1.5;

    margin: .357rem 0 0 .4645rem;
    padding: 0 .429rem;
}
.select2-container--material.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-sm .select2-container--material .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-sm .select2-container--material .select2-selection--multiple .select2-search--inline .select2-search__field
{
    font-size: .858rem;
    line-height: 1.5; 

    height: 2.145rem;
    padding: 0 .929rem;
}
.select2-container--material.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b
{
    border-width: 0 .358rem .358rem .358rem; 
    border-color: transparent transparent #9e9e9e transparent;
}
.input-group-lg .select2-container--material.select2-container--open .select2-selection--single .select2-selection__arrow b
{
    border-width: 0 .358rem .358rem .358rem; 
    border-color: transparent transparent #9e9e9e transparent;
}
.input-group .select2-container--material
{
    position: relative;
    z-index: 2;

    display: table;
    float: left;

    width: 100%;
    margin-bottom: 0; 

    table-layout: fixed;
}

.has-warning .select2-dropdown,
.has-warning .select2-selection
{
    border-color: #ff9800;
}

.has-warning .select2-container--open .select2-selection
{
    border-color: #ff9800;
}

.has-warning.select2-drop-active
{
    border-color: #ff9800;
}
.has-warning.select2-drop-active.select2-drop.select2-drop-above
{
    border-top-color: #ff9800;
}

.has-error .select2-dropdown,
.has-error .select2-selection
{
    border-color: #f44336;
}

.has-error .select2-container--open .select2-selection
{
    border-color: #f44336;
}

.has-error.select2-drop-active
{
    border-color: #f44336;
}
.has-error.select2-drop-active.select2-drop.select2-drop-above
{
    border-top-color: #f44336;
}

.has-success .select2-dropdown,
.has-success .select2-selection
{
    border-color: #4caf50;
}

.has-success .select2-container--open .select2-selection
{
    border-color: #4caf50;
}

.has-success.select2-drop-active
{
    border-color: #4caf50;
}
.has-success.select2-drop-active.select2-drop.select2-drop-above
{
    border-top-color: #4caf50;
}

.modal-open .select2-container
{
    z-index: 1701;
}
